.main {
  display: grid;
  min-height: 100vh;

  &__toasts {
    position: fixed;
    top: 1.6rem;
    right: 2rem;

    &--topbarPadding {
      top: 4rem;
    }

    display: flex;
    flex-direction: column;
    row-gap: .6rem;
  }
}
