.box {
  &--floating {
    position: fixed;
    z-index: 40;

    width: 100vw;
    height: 100vh;

    @media screen and (min-width: 600px) {;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
