@import 'style/theming';

.item {
  display: flex;
  align-items: center;

  // border: 1px solid #dedede;
  //

  @include themed() {
    &:not(:last-child) {
      border-bottom: 1px solid t(border-color);
    }

    color: t(foreground-color);
    background: t(background-color);
  }


  :deep(svg) {
    width: 1.2rem;
  }

  &__values {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
    padding: .6rem;
  }

  &__value {
    display: flex;
    font-size: .9rem;

    &:first-child {
      font-weight: bold;
    }
  }
}
