.signin {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #ddd4;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 30rem;
  }

  &__logo {
    width: 10rem;
    height: 3rem;
    object-fit: contain;
    align-self: center;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  &__form-button {
    padding: .8rem 0;
  }

  &__form-button-text {
    width: 100%;
  }
}
