@mixin shrinked {
  width: 0;

  @media screen and (min-width: 600px) {
    width: 4rem;
    row-gap: .6rem;

    ::-webkit-scrollbar {
      width: 0 !important;
    }

    .menu__route {
      justify-content: center;
      border-radius: 8px;
    }

    .menu__route,
    .menu__action {
      :deep([data-component=icon-label]) {
        display: none;
      }
    }

    .menu__header {
      :deep(.header__user-inner) {
        display: none;
      }
    }

    .menu__header,
    .menu__entries,
    .menu__action {
      width: auto;
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }
}

.menu {
  position: sticky;
  top: 0;
  left: 0;
  width: 16rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  padding-top: 1rem;
  z-index: 20;

  overflow: hidden;
  user-select: none;

  @media screen and (max-width: 1366px) {
    @include shrinked;
  }

  @include themed() {
    border-right: 1px solid t(border-color);
    color: t(foreground-color);

    :deep([data-component=icon]) {
      width: 1.2rem;
    }
  }

  &--hidden {
    @include shrinked;
  }

  &__entries {
    width: var(--menu-width);

    display: flex;
    flex-direction: column;
    // row-gap: 1rem;

    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;

    padding-left: 1rem;
  }

  &__entry {
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
    padding: .6rem 0;

    @include themed() {
      &:not(:last-child) {
        border-bottom: 1px solid t(border-color);
      }
    }
  }

  &__route {
    column-gap: .4rem;
    padding: .4rem;

    border: solid transparent;
    border-width: 0 6px 0 0;
    white-space: nowrap;
    font-size: .85rem;

    @include themed() {
      &:hover {
        background: t(background-color-alt);
      }

      &--current {
        :deep(*) {
          color: t(brand-color);

          [data-component=icon] {
            fill: t(brand-color) !important;
          }
        }
      }
    }
  }

  &__action {
    margin: .6rem 1rem;
  }

  &__bottom {
    margin-top: auto;
  }
}
