@import 'style/theming';

.sidebar {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__entries {
    display: flex;
    flex-direction: column;
    row-gap: 2.6rem;
  }

  &__entry {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__entry-info {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
  }

  &__entry-options {
    display: flex;
    column-gap: .5rem;

    &>* {
      font-size: .8rem;
    }
  }
}
