@import 'style/theming';

.panel-hint {
  position: fixed;
  top: 0;
  right: 0;

  width: 3rem;
  height: 3rem;
  margin: 1rem;

  border-radius: 50%;

  display: grid;
  place-items: center;
  color: #fff;
  background: yellowgreen;

  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;

  @include themed() {
    border: 1px solid t(border-color);
  }

  @media screen and (max-width: 600px) {
    top: 3.2rem;
  }

  &--topbarPadding {
    top: 3.2rem;
  }
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  overscroll-behavior: contain;
}

.panel,
.sidebar {
  width: 32rem;
  height: 100vh;
  padding: 1.8rem;

  @include themed() {
    color: t(foreground-color);
    background: t(background-color);
    border-left: 1px solid t(border-color);
  }

  @media screen and (max-width: 600px) {
    width: 100vw !important;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 600px) {
    position: fixed;
    right: 0;

    z-index: 10;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__entries {
    display: flex;
    flex-direction: column;
    row-gap: 2.6rem;
  }

  &__entry {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__entry-info {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
  }

  &__entry-options {
    display: flex;
    column-gap: .5rem;

    &>* {
      font-size: .8rem;
    }
  }
}
