.crud {
  &__controls {
    position: sticky;
    top: 3.6rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: .6rem 1rem;
    backdrop-filter: blur(15px);
    z-index: 10;

    @include themed() {
      background: t(background-color);
      border-bottom: 1px solid t(border-color);
    }

    @media screen and (min-width: 600px) {
      flex-direction: row;
      align-items: center;
    }
  }
}
