.pagination {
  display: flex;
  column-gap: 2rem;
  box-sizing: content-box;

  &__control {
    display: flex;
    align-items: center;
    column-gap: .6rem;

    &>:not(button) {
      padding: 0 !important;
    }

    &>select,
    &>button,
    :deep(input) {
      align-self: stretch;
    }

    &>button,
    :deep(input){
      padding: .4rem .6rem;
    }

    &>select {
      padding: 0 .6rem !important;
    }
  }

  &__page-input {
    width: 2.4rem;
  }

  &__summary {
    font-size: .9rem;
    opacity: .8;
  }
}
