$default-gap: .6rem;

.crud {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__panel {
    display: flex;
    justify-content: space-between;
  }

  &__panel-control {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: $default-gap;
  }

  &__table-panel {
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: .8rem;
  }
}
