$size: 1.2rem;

.new {
  display: inline-flex;

  &__circle {
    position: absolute;
    display: grid;
    bottom: .4rem;
    left: 1.8rem;
    width: $size;
    height: $size;

    place-items: center;
    background: red;
    color: #fff;

    border-radius: 50%;
    font-size: 9pt;
  }
}
