$icon-size: 1.2rem;

.search {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__header {
    //
  }

  &__icons {
    display: flex;
    padding: .4rem;

    :deep(svg) {
      width: $icon-size;
      height: $icon-size;
    }
  }
}
