$icon-size: 1.2rem;

.search {
  &__header {
    margin-bottom: .6rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #dedede;
    border-width: 0 1px 1px 1px;

    padding-left: .4rem;
  }

  &__icons {
    display: flex;
    padding: .4rem;

    :deep(svg) {
      width: $icon-size;
      height: $icon-size;
    }
  }
}
