.grid {
  display: grid;
  
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20rem;
  
    @include themed() {
      background: t(background-color);
      outline: 1px solid t(border-color);
    }
  }

  &__footer {
    width: 100%;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include themed() {
      border-top: 1px solid t(border-color);
    }
  }
}
