:root {
  --menu-width: 16.8rem;
  --default-input-padding: .6rem;

  --default-border-color: #dedede;
  --default-button-background-color: #000000aa;
  --default-button-border-color: #555;
  --default-switch-background-color: #000;
  --default-switch-border-color: transparent;
  --default-foreground-color: #000;
  --default-foreground-color-alt: #000;
  --default-background-color: #fff;
  --default-background-color-alt: darken(#fff, 10%);
  --default-topbar-background-color: rgb(255, 255, 255, .92);
  --default-body-background: #f8f9fa;

  --dark-border-color: #888;
  --dark-button-background-color: #fff;
  --dark-button-border-color: #fff;
  --dark-switch-background-color: blue;
  --dark-switch-border-color: transparent;
  --dark-foreground-color: #eee;
  --dark-foreground-color-alt: #fff;
  --dark-background-color: #50505b;
  --dark-background-color-alt: lighten(#50505b, 20%);
  --dark-topbar-background-color: lighten(#50505bf0, 20%);
  --dark-body-background: #30303b;

  --contrast-border-color: #222;
  --contrast-button-background-color: linear-gradient(45deg, darkblue, magenta);
  --contrast-button-border-color: transparent;
  --contrast-switch-background-color: linear-gradient(45deg, darkblue, magenta);
  --contrast-switch-border-color: #000;
  --contrast-foreground-color: #000;
  --contrast-foreground-color-alt: #fff;
  --contrast-background-color: #fff;
  --contrast-background-color-alt: lighten(#555, 20%);
  --contrast-topbar-background-color: #fff;
  --contrast-body-background: #444;
}
