$menu-width: 16.8rem;
$default-input-padding: .6rem;

$themes: (
  default: (
    border-color: #dedede,
    button-color: #000,
    switch-color: #000,
    foreground-color: #444,
    foreground-color-alt: #000,
    background-color: #fff,
    background-color-alt: darken(#fff, 10%),
    body-color: #f8f9fa
  ),
  dark: (
    border-color: #888,
    button-color: #fff,
    switch-color: blue,
    foreground-color: #eee,
    foreground-color-alt: #fff,
    background-color: #50505b,
    background-color-alt: lighten(#50505b, 20%),
    body-color: #30303b
  ),
  contrast: (
    border-color: #222,
    button-color: linear-gradient(45deg, darkblue, magenta),
    switch-color: linear-gradient(45deg, darkblue, magenta),
    foreground-color: #000,
    foreground-color-alt: #fff,
    background-color: #fff,
    background-color-alt: lighten(#555, 20%),
    body-color: #444
  )
);
