@import 'theming';

.sv-border {
  @include themed() {
    border: 1px solid t(border-color);
  }
}

.sv-branded-text {
  @include themed() {
    color: t(brand-color);
  }
}

.sv-weak {
  @include themed() {
    color: t(foreground-color-weak);
    svg {
      fill: t(foreground-color-weak);
    }
  }
}

.sv-padded {
  padding: 2rem;
}
