.select {
  width: 100%;
  padding: .35rem .6rem;
  min-width: 5rem;

  border-radius: 4px;
  line-height: 1.5rem;

  @include themed() {
    background: transparent;
    border: 1px solid t(border-color);
    color: t(foreground-color);
  }

  &:focus {
    outline: none;
  }
}
