@import 'style/theming';

.contextmenu {
  &__trigger {
    display: flex;
    justify-content: flex-start;
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 10rem;
    border-radius: 4px;

    overflow: hidden;
    z-index: 40;

    @include themed() {
      :deep(*) {
        color: t(foreground-color);
      }

      background: t(background-color);
      box-shadow: 0 2px 6px t(shadow-color);
      border: 1px solid t(border-color);
    }
  }

  &__section {
    padding: .6rem;

    &:not(:last-child) {
      @include themed() {
        border-bottom: 1px solid t(border-color);
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    padding: .6rem !important;

    @include themed() {
      &--reactive {
        &:hover {
          background: t(background-color-alt);
        }
      }
    }
  }
}
