$picture-diameter: 10rem;

.profile {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;

  &__picture {
    width: $picture-diameter;
    height: $picture-diameter;
    border-radius: 50%;
    background: #fff;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    row-gap: .45rem;
  }
}
