.icon {
  display: flex;
  fill: black;

  :deep(svg) {
    width: 100%;
    height: 100%;
  }

  &--reactive {
    padding: 4px;
    border-radius: 5px;

    &:hover {
      background: #eee;
    }

    &:active {
      background: #ccc;
    }
  }

  &--centered {
    align-items: center;
    column-gap: .4rem;
  }
}
