.icon {
  display: flex;
  border-radius: 5px;
  fill: black;

  align-items: center;
  column-gap: .4rem;

  &--reactive {
    padding: 4px;
    &:hover {
      background: #eee;
    }

    &:active {
      background: #ccc;
    }
  }

  :deep(svg) {
    width: 100%;
    height: 100%;
  }
}
