.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    margin-bottom: -8px;
  }

  &__footer {
    margin-top: -8px;
  }

  &__fieldset {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: flex-start;
    width: 100%;
    gap: .8rem;

    border: none;
    padding: 0;
    margin: 0;
  }

  &__search-grid {
    display: grid;
    gap: 2rem;
  }

  &__validation-error {
    font-size: .9rem;
    padding: .4rem 0;
    color: red;
  }
}
