@import 'style/theming';

.messages {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__list {
    @include themed() {
      &>*:not(:last-child) {
        border-bottom: 1px solid t(border-color);
      }
    }
  }
}
