.navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  @include themed() {
    background: t(body-background);
    border-top: 1px solid t(border-color);
  }

  @media screen and (min-width: 600px) {
    display: none;
  }
}
