.header {
  display: flex;

  width: 100%;
  padding: 0 1rem;

  &__user {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;

    @include themed() {
      color: t(foreground-color);
      background: t(body-background);

      :deep([data-component=icon]) {
        fill: t(foreground-color-alt) !important;
      }
    }
  }

  &__user-inner {
    padding: 1rem;
  }
}

