.barebutton {
  display: flex;
  place-items: center;
  gap: 0 .2rem;
  user-select: none;
  outline: none;

  &:active {
    text-decoration: underline;
  }

  &--enabled {
    cursor: pointer;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
