:root {
  --dark-brand-color: #9c3fff;
  --dark-border-color: #666;
  --dark-button-background-color: #fff;
  --dark-button-border-color: #666;
  --dark-switch-background-color: blue;
  --dark-switch-border-color: transparent;
  --dark-foreground-color: #eee;
  --dark-foreground-color-alt: #fff;
  --dark-background-color: #50505b;
  --dark-background-color-alt: #50508b;
  --dark-background-color-hover: #5050cc;
  --dark-topbar-background-color: #50505bf0;
  --dark-body-background: #30303b;
}
