:root {
  --dark-brand-color: #a0a0ff;
  --dark-border-color: #666;
  --dark-button-background-color: #fff;
  --dark-button-border-color: #666;
  --dark-switch-background-color: blue;
  --dark-switch-border-color: transparent;
  --dark-foreground-color: #eee;
  --dark-foreground-color-alt: #fff;
  --dark-background-color: #50505b;
  --dark-background-color-alt: #50508b;
  --dark-background-color-hover: #5050cc;
  --dark-background-color-semitransparent: #50505bbb;
  --dark-body-background: #30303b;
  --dark-shadow-color: #222;
}
