.wall {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;

  background: blue;
  background: var(--authwall-background, linear-gradient(
      120deg,
      darkblue,
      purple 50%
    )
  );

  &__branding {
    position: absolute;
    top: 2rem;
    left: 2rem;

    width: 10rem;
    height: 5rem;
    margin: 0 auto;
  }

  &__view {
    display: grid;
    place-items: center;
    width: 100vw;

    padding: 0 2rem;
    background: #fff;

    @media screen and (min-width: 600px) {
      width: 65%;
    }
  }

  &__view-center {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2rem;
    width: 34rem;
    overflow-y: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;

    width: 35%;
    align-self: flex-end;
  }
}
