$picture-size: 4rem;

.header {
  display: flex;
  width: 15em;
  padding: 0 1em;
  column-gap: .8em;

  &__picture {
    width: $picture-size;
    height: $picture-size;

    border: 1px solid #dedede;
    border-radius: 10px;
    overflow: hidden;

    transition: filter .35s;
    cursor: pointer;

    &:active {
      filter: brightness(.8);
    }

    :deep(svg) {
      width: 3.6rem;
      fill: #dedede;
    }
  }

  &__info-name {
    font-weight: bold;
  }
}

