@mixin focus {
  .input {
    &__input {
      outline: 1px solid blue;
    }

    &__icon {
      :deep(svg) {
        fill: blue;
      }
    }
  }
}

.input {
  &:focus-within {
    @include focus;
  }

  &__label {
    font-size: 9pt;
    text-transform: uppercase;
  }

  &__description {
    font-size: 9pt;
    opacity: .5;
  }

  &__container {
    position: relative;
    display: flex;

    &--normal, &--bold {
      border: 1px solid #dedede;
      border-radius: 3px;
    }

    &--light {
      border-bottom: 1px solid #dedede;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    user-select: none;


    &--normal, &--bold {
      border-radius: 3px;
    }

    &--normal {
      padding: .2em .6em;
    }

    &--bold {
      padding: .4em .6em;
    }

    &--light {
      background: transparent;
      border-bottom: 1px solid #dedede;
    }

    &--icon {
      padding-left: 2.6em !important;
    }
  }

  &__textarea {
    display: block;
    border: 1px solid #dedede;
    height: 4em;
  }

  &__icon {
    position: absolute;
    width: 1.2em;

    &--normal, &--bold {
      top: 50%;
      left: .6em;
      transform: translateY(-50%);
    }

    &--light {
      top: 0;
      left: 0;
    }
  }

  &__clipboard {
    display: flex;
    place-items: center;
    border: 1px solid #dedede;
    background: #ddd;

    padding: 0 .6em;
  }
}
