$success-foreground-color: green;
$neutral-foreground-color: blue;
$critical-foreground-color: red;

@mixin normal-style($color) {
  background: $color;
  border: 1px solid $color;
}

@mixin light-style($color) {
  color: $color;
  border: 1px solid $color;
  :deep(svg) {
    fill: $color;
  }
}

.button {
  transition: all;
  padding: .35em 1em;
  text-align: center;
  border-radius: 5px;
  outline: none;
  
  &:hover {
    :deep(.button__icon) {
      fill: white;
    }
  }


  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 .4rem;
    font-size: 11pt;
  }

  &__icon {
    width: 1.1em;
    height: 1.1em;
  }

  &--normal {
    color: white;
    font-size: .9rem;
    font-weight: bold;
    :deep(svg) {
      fill: white;
    }
  }

  &--light {
    background: transparent;
  }

  &--normal#{&}--neutral {
    @include normal-style($color: $neutral-foreground-color);
  }

  &--normal#{&}--success {
    @include normal-style($color: $success-foreground-color);
  }
  
  &--normal#{&}--critical {
    @include normal-style($color: $critical-foreground-color);
  }

  &--light#{&}--neutral {
    @include light-style($color: $neutral-foreground-color);
  }

  &--light#{&}--success {
    @include light-style($color: $success-foreground-color);
  }
  
  &--light#{&}--critical {
    @include light-style($color: $critical-foreground-color);
  }
}
