@import 'style/theming';

.topbar {
  display: flex;
  flex: 1;
  gap: 1rem;

  &__actions,
  &__controls {
    display: flex;
    align-items: center;
    gap: .4rem;
  }

  &__controls {
    margin-left: auto;
  }
}
