.tw-border { border: 1px solid var(--default-border-color); }
.tw-border-b { border-bottom: 1px solid var(--default-border-color); }
.tw-border-t { border-top: 1px solid var(--default-border-color); }
.tw-border-l { border-left: 1px solid var(--default-border-color); }
.tw-border-r { border-left: 1px solid var(--default-border-color); }
