.tw-border {
  border: 1px solid #dedede;
}

.tw-border-b {
  border-bottom: 1px solid #dedede;
}

.tw-border-t {
  border-top: 1px solid #dedede;
}

.tw-border-l {
  border-left: 1px solid #dedede;
}

.tw-border-r {
  border-left: 1px solid #dedede;
}
