@import 'style/theming';

.container {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  padding: .6rem;

  @include themed() {
    background: t(background-color-alt);
    border: 1px solid t(border-color);
  }
}
