@import 'style/theming';

.subscribers {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__entry {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    padding: .5rem;
    font-size: 1.1rem;

    @include themed() {
      &:not(:last-child) {
        border-bottom: 1px solid t(border-color);
      }
    }
  }

  &__picture {
    display: block;
    font-size: 1.2rem;
    border-radius: 50%;

    width: 3.5rem;
    height: 3.5rem;

    @include themed() {
      border: 1px solid t(border-color);
    }
  }
}
