@keyframes pop {
  from {
    transform: translate(-50%, -50%) scale(.8);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.global-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;

  animation: pop .25s forwards;

  @media screen and (min-width: 600px) {
    width: auto;
    :deep([data-component=box]) {
      border-radius: 18px;
    }
  }
}

.global {
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem .5rem;

  @media screen and (min-width: 600px) {
    width: 40rem;
    height: auto;
    padding: 2rem;
  }

  &__results {
    height: auto;
    overflow: visible;

    @media screen and (min-width: 600px) {
      overflow: auto;
      height: 60vh;
    }
  }
}
