$picture-size: 3.6rem;

.results {
  overflow-y: scroll;
  padding-bottom: 2.8rem;

  &__collections {
    display: grid;
    gap: 1rem;
  }

  &__result {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    line-height: 1.4rem;

    padding: 1rem;

    @include themed() {
      border: 1px solid t(border-color);
      border-width: 1px 1px 0 1px;

      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      &:last-child {
        border-radius: 0 0 5px 5px;
        border-width: 1px;
      }

      &:hover {
        background: t(background-color-hover);
      }
    }
  }

  &__picture {
    width: $picture-size;
    height: $picture-size;
    @include themed() {
      border: 1px solid t(border-color);
    }
  }

  &__picture-fallback {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__info {
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    // width: 22rem;
  }

  // &__info-line {
  //   display: flex;
  //   align-items: flex-end;
  //   column-gap: .6rem;
  // }

  &__info-label {
    font-size: .8rem;
    font-weight: bold;

    &:after {
      content: ': ';
    }
  }

  &__actions {
    display: flex;
    align-self: center;
    margin-left: auto;
    column-gap: .4rem;
  }
}
