.template {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;

  display: grid;
  place-items: center;
  height: 100vh;
  background: #ddd4;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    width: 30rem;

    padding: 2rem 0;
  }

  &__logo {
    width: 10rem;
    height: 3rem;
    object-fit: contain;
    align-self: center;
  }

  &__view {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    padding: 1rem;
  }

  &__version {
    align-self: center;
    opacity: .6;
  }
}
