@import 'style/themes';
$icon-size: 1.25rem;

.menu {
  position: sticky;
  top: 3.2rem;
  left: 0;
  width: $menu-width;
  height: calc(100vh - 3.2rem);

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex-shrink: 0;

  padding: 1rem 0;
  z-index: 20;

  overflow: hidden;
  transition: width .35s;

  @include themed() {
    border-right: 1px solid t(border-color);
    color: t(foreground-color);
    background: t(background-color);

    :deep(svg) {
      fill: t(foreground-color);
    }
  }

  &--hidden {
    width: 0;
  }

  &__entries {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    height: 80vh;
    padding: 0 1rem;
  }

  &__entry {
    padding: .4rem 0;
  }

  &__entry-name {
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subroute {
    display: flex;
    column-gap: .6rem;
    width: 100%;
    align-items: center;
    line-height: 100%;

    padding: .3rem .5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    white-space: nowrap;

    &:hover {
      background: #dedede;
    }

    :deep(svg) {
      width: $icon-size;
      fill: #000;
    }

    &--current {
      border-color: #000;
      // background: #2060fa;
    }
  }

  &__subroute-title {
    white-space: nowrap;
    opacity: .8;
  }
}
