$icon-size: 1.25rem;

.menu {
  position: sticky;
  top: 3.2rem;
  left: 0;
  width: 17rem;
  height: calc(100vh - 3.2rem);
  flex-shrink: 0;
  border-right: 1px solid #dedede;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 20;

  background: #fff;
  padding: 1rem 0;

  &--hidden {
    width: 0;
  }

  &__entries {
    padding: 1rem;
  }

  &__entry {
    padding: .4rem 0;
  }

  &__entry-name {
    font-size: 8.5pt;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subroute {
    display: flex;
    column-gap: .6rem;
    width: 100%;
    align-items: center;
    padding: .3rem .5rem;
    font-size: .98rem;
    border: 1px solid transparent;
    border-radius: 5px;
    white-space: nowrap;

    &:hover {
      background: #6060ee;
    }

    :deep(svg) {
      width: $icon-size;
      fill: #63b3ed;
    }

    &--current {
      border-color: #2060fe;
      background: #2060fa;
    }
  }

  &__subroute-title {
    white-space: nowrap;
    opacity: .8;
  }
}
