$section-gap: 2rem;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: $section-gap;


  &__fieldset {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
    width: 100%;
    gap: .6rem;

    border: none;
    padding: 0;
    margin: 0;
  }

  &__options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .4rem;
  }

  &__search-grid {
    display: grid;
    gap: $section-gap;
  }

  &__validation-error {
    font-size: .9rem;
    padding: .4rem 0;
    color: red;
  }
}
