@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 10rem;

  transform: translate(-50%, -50%);

  display: grid;
  place-items: center;
  border: 1px solid #dedede;
  border-radius: 5px;
  background: #fff;

  font-size: 1.4rem;

  animation: blink .8s forwards;
  z-index: 50;
}
