@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

.toast {
  padding: .4rem 2rem;

  display: grid;
  place-items: center;

  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;

  animation: blink .35s forwards;
  z-index: 70;
}
