@import 'style/theming';

.subscriptions {
  display: flex;
  gap: 1.4rem;

  &__list {
    min-height: auto;
  }

  &__entries {
    display: flex;
    flex-direction: column;
  }

  &__entry {
    padding: 1rem 0;
    @include themed() {
      &:not(:last-child) {
        border-bottom: 1px solid t(border-color);
      }
    }
  }

  &__content {
    flex: 1;
    padding: 1rem;
  }
}
