@import 'style/theming';

.bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;

  @media screen and (min-width: 600px) {
    max-width: 30rem;
  }
}

.bubble {
  display: flex;
  align-items: center;
  column-gap: .2rem;

  font-size: .9rem;
  border-radius: 5px;
  padding: .2rem .4rem;

  @include themed() {
    border: 1px solid t(background-color);
    background: t(background-color-alt);

    &:hover {
      background: t(background-color-hover);
    }
  }

  &__name {
    &:after {
      content: ': ';
    }
  }
}
