@import 'style/theming';

.grid {
  display: grid;
  
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    position: relative;
    :deep([data-component=box]) {
      height: 20rem;
    }

    @include themed() {
      outline: 1px solid t(border-color);
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
